@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.headerContainer {
    height: 100%;
    width: 100%;
}

.contentOfHeader {
    width: 90%;
    margin: auto;
}

.headerBackGround {
    background-image: url('../../assets/Images/approxImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}
.logoContainer a{
    text-decoration: none;
}

.logoContainer img {
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

.navList .navUlList {
    display: inline-flex;
    gap: 2rem;
    line-height: 20px;
}

.navUlList .navListItems {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.navListItems .active {
    color: Tomato;
}

.navListItems a {
    text-decoration: none;
    color: #111; 
}
.linksTitle:hover{
    color: rgba(238, 108, 85, 0.781)
}