@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.processContainer{
    height: 100%;
    width: 100%;
}
.processSec{
    width: 90%;
    margin: auto;
}
.titleProcess{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5rem 0 2rem 0;
    font-family: "Poppins";
    font-style: normal;
}
.processImg{
    margin: 3rem 0 2rem 0;

}
.processImg .imgSection{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(160, 178, 211, 0.137)),url('../../assets//Images//Process/cat11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 90%;
    margin: auto;
}
.watchVideoLink{
    padding: 16% 45%;
}
.faplayCir{
   /* color: rgba(11, 207, 214, 0.815); */
   color: rgb(25, 129, 219);
   background-color: rgba(240, 248, 255, 0.144);
}