*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContactContentsInfo{
    height: 100%;
    width: 100%;
}
.infoDetailsSection{
    width: 500px;
}
.title_con{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5rem 2rem 1rem 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;

}
.description_con{
    width: 350px;
    font-size: 14px;
    color: #111111cb;
    line-height: 28px;
    padding: 0rem 0 0rem 0%;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: left;

}
.addressCon .addressTitle{
    font-size: 15px;
    color: #111;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;

}
.addressFull{
    font-size: 14px;
    color: #2e2c2ccb;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;

}